[submodule "lib/timer"]
	path = lib/timer
	url = https://github.com/dniklaus/arduino-utils-timer.git
[submodule "lib/debug-cli"]
	path = lib/debug-cli
	url = https://github.com/ERNICommunity/debug-cli.git
[submodule "lib/debug-trace"]
	path = lib/debug-trace
	url = https://github.com/ERNICommunity/dbg-trace.git
[submodule "lib/ramutils"]
	path = lib/ramutils
	url = https://github.com/dniklaus/arduino-utils-mem.git
[submodule "lib/mcp9808"]
	path = lib/mcp9808
	url = https://github.com/dniklaus/Adafruit_MCP9808_Library.git
[submodule "lib/tm1638"]
	path = lib/tm1638
	url = https://github.com/rjbatista/tm1638-library.git
